@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
	min-width: 100vw;
	min-height: 100vh;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

::placeholder {
	color: gray;
}
